<div class="container-fluid">

    <div class="row min-vw-8">
        <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 center">
            <fa class="h1 mb-0" name="github"></fa>
        </div>
        <div class="col col-100 col-sm-10 col-md-10 col-lg-10 col-xl-10 center-left">
            <div class="input-group width-input-50p">
                <input type="text" class="form-control" [(ngModel)]="username" placeholder="Pesquisar nome de usuário do github" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="button" id="button-addon2" (click)="goToSearchUser()">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-0" />   

    <router-outlet></router-outlet>
  
</div>
